# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=""
NEXT_PUBLIC_FIREBASE_PROJECT_ID=""
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=""
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=""
NEXT_PUBLIC_FIREBASE_APP_ID=""

# MercadoPago
NEXT_PUBLIC_MP_PUBLIC_KEY=""
MP_SECRET_KEY=""

# Resend
RESEND_API_KEY=""

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Postgres (Prisma)
POSTGRES_URL=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL_NON_POOLING=""

# App & Auth
ADMIN_EMAILS="entertheadmin1@gmail.com,admin2@gmail.com"
NEXTAUTH_SECRET="A_STRONG_RANDOM_SECRET_HERE"

# Google Auth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""